*{
    text-decoration: none;
    list-style: none;
}





.divlogin{
background-image: url(../../public/thay-pellerin.png);
display: flex;
flex-direction: column;
align-items: flex-end;
background-position: center bottom;
background-repeat: no-repeat;
height: 100vh;
overflow: hidden;

}

.divlogin1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    background-color: white;
    padding: 45px;
    max-width: 400px;
    height: 1024px;
}
.divlogin1 .logo{
    margin-bottom: 45px;
}

.acesso{
    color: #262420;
    font-family: Arial;
    font-size: 24px;
font-weight: 700;
margin-bottom: 17px;

}

.acesso1{
color: #262420;
font-family: Arial;
font-size: 14px;
font-weight: 400;
margin-bottom: 32px;
}



input[type="email"], [type="password"]{
    background: #F2F2F2;
    margin-bottom: 16px;
    border: 1px solid #817D75;
    width: 397px;
    height: 50px;
    border-radius: 5px;

}

input[type="email"]::placeholder {
    color: #888888; 
    transform: translateY(15px) translateX(10px);
   
    
  }

  input[type="password"] {

    margin-bottom: 22px;

}

input[type="password"]::placeholder {
    color: #888888; 
    transform: translateY(15px) translateX(10px);
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
margin-right: 5px;

}
.conectado_esqueci{
    display: flex;
    align-items: center;
    margin-bottom: 28px;
    
}
.conectado_esqueci label{
    color: #262420;
    font-size: 14px;
    margin-right: 90px;
}

.conectado_esqueci a{
    color: #5731FF;
    font-size: 14px;
    text-decoration:underline;
   
}

.esqueci{
    text-decoration:underline;
    color: #5731FF;
 
   
}
  


 

.outroacesso{
    display: flex;
    flex-direction: column;
    width: 428px;
    height: 40px;
    padding: 11px 134.22px 12px 134.42px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

}





.entrar{
    color: white;
    background-color: #09A599;
    padding: 17px 180px 17px 180px;
    border-radius: 5px;
    border: 1px solid #000;
    }



.cadastre{
    text-decoration: underline;
    color: #5731FF;


}

.cadastre:hover{
    color: #000;
}