*{
    text-decoration: none;
    list-style: none;
}





.divlogin{
background-image: url(../../public/thay-pellerin.png);
display: flex;
flex-direction: column;
align-items: flex-end;
background-position: center bottom;
background-repeat: no-repeat;
height: 100vh;
overflow-x: hidden;

}

.divlogin1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    background-color: white;
    padding: 45px;
    max-width: 400px;
    height: 1024px;
}
.divlogin1 .logo{
    margin-bottom: 45px;
    align-self: center;
}

.acesso{
    color: #262420;
    font-family: Arial;
    font-size: 24px;
font-weight: 700;
margin-bottom: 17px;

}

.acesso1{
color: #262420;
font-family: Arial;
font-size: 14px;
font-weight: 400;
margin-bottom: 32px;
}



input[type="email"], [type="password"],[type="text"]{
    background: #F2F2F2;
    margin-bottom: 16px;
    border: 1px solid #817D75;
    padding: 25px 236px 9px 0px;
    border-radius: 5px;

}

input[type="email"]::placeholder {
    color: #888888; 
    transform: translateY(10px) translateX(10px);
   
    
  }
  
  input[type="password"] {

    margin-bottom: 22px;

}

input[type="password"]::placeholder {
    color: #888888; 
    transform: translateY(10px) translateX(10px);
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
margin-right: 5px;

}
.conectado_esqueci{
    display: flex;
    align-items: center;
    margin-bottom: 28px;
    
}
.conectado_esqueci label{
    color: #262420;
    font-size: 14px;
    margin-right: 90px;
}

.conectado_esqueci a{
    color: #5731FF;
    font-size: 14px;
    text-decoration:underline;
   
}

.entrar{
    color: #FFF;
    padding: 17px 188px 17px 178px;
    border-radius: 5px;
    background-color: #09A599;
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 16px;
    }

.cadastre-se{
    display: flex;
    align-self: center;
    gap: 12px;
    margin-bottom: 46px;
}

.cadastre-se a{
    text-decoration: underline;
    color: #5731FF;
}

.cadastre-se a:hover{
    color: #000;
}
.ou{
    display: flex;
    align-self: center;
    align-items: baseline;
    margin-bottom: 50px;
}
hr{
    width: 170px;
    height: 0px;
    margin-left: 15px;
    margin-right:15px ;
    
}

.entrar-google #google, #facebook{
    display: inline-block;
    color: #5731FF;
    padding: 17px 128px 17px 128px;
    border-radius: 5px;
    border: 1px solid #5731FF;
    font-size: 16px;
    font-family: Arial;
    margin-bottom: 16px;
    font-weight: 700;
}

#facebook{
    padding: 17px 111px 17px 128px;
}
