*{
    text-decoration: none;
    list-style: none;
}





.divlogin{
background-image: url(../../public/thay-pellerin.png);
display: flex;
flex-direction: column;
align-items: flex-end;
background-position: center bottom;
background-repeat: no-repeat;
height: 100vh;
overflow-x: hidden;

}

.divlogin1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    background-color: white;
    padding: 45px;
    max-width: 400px;
    height: 1024px;
}
.divlogin1 .logo{
    margin-bottom: 45px;
    align-self: center;
}

.acesso{
    color: #262420;
    font-family: Arial;
    font-size: 24px;
font-weight: 700;
margin-bottom: 17px;

}

.acesso1{
color: #262420;
font-family: Arial;
font-size: 14px;
font-weight: 400;
margin-bottom: 32px;
}



.divlogin1 input{
    background: #F2F2F2;
    margin-bottom: 16px;
    border: 1px solid #817D75;
    padding: 15px 15px;
    border-radius: 5px;
    font-size: 17px;
    width: 330px;

}

::placeholder {
    color: #888888; 
    font-size: 17px;  
  }
  
input[type="checkbox"] {
    width: 20px;
    height: 20px;
margin-right: 5px;

}
.conectado_esqueci{
    display: flex;
    align-items: center;
    margin-bottom: 28px;
    
}
.conectado_esqueci label{
    color: #262420;
    font-size: 14px;
    margin-right: 90px;
}

.conectado_esqueci a{
    color: #5731FF;
    font-size: 14px;
    text-decoration:underline;
   
}

.entrar{
    color: #FFF;
    padding: 17px 140px 17px 150px;
    border-radius: 5px;
    background-color: #09A599;
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 16px;
    }

.cadastre-se{
    display: flex;
    align-self: center;
    gap: 12px;
    margin-bottom: 46px;
}

.cadastre-se a{
    text-decoration: underline;
    color: #5731FF;
}

.cadastre-se a:hover{
    color: #000;
}




