@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Luckiest+Guy&family=Poppins:wght@400;600&family=Roboto:wght@400;500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Luckiest+Guy&family=Poppins:wght@400;600&family=Roboto:wght@400;500;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}

.header {
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  background: no-repeat center/cover url("/public/rio.jpg");
  height: calc(100vh - 60px);
}

.header-introdução {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: rgba(224, 224, 224, 0.15);
  padding: 10px 100px 10px 100px;
}

.logo {
  color: #09A599;
  font-size: 32px;
  font-family: "Luckiest Guy", cursive;
}

.header-link a {
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.header-link {
  display: flex;
  gap: 50px;
  font-size: 18px;
  flex-wrap: wrap;
  align-items: center;
}
.instrutore {
  margin-right: 70px;
}

.comece a {
  display: inline-block;
  padding: 7px 13px;
  background: #09A599;
  color: #f6f6f6;
}

.header-texto h1 {
  color: #f6f6f6;
  font-size: 45px;
  max-width: 600px;
  margin: 40px auto;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

/* corpo01 */

.informacao-bg {
  display: flex;
  padding: 54px 100px 100px 100px;
}
.informacao-bg::before {
  content: "";
  display: block;
  width: 730px;
  height: 286px;
  background: url("/public/mundo.png");
  position: absolute;
  right: 1px;
  z-index: 1;
}

.informacao {
  z-index: 2;
}

.informacao h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 45px;
  max-width: 25ch;
  margin-top: 86px;
  margin-bottom: 30px;
  z-index: 2;
  position: relative;
}

.informacao h1 span {
  color: #09a599;
}

.informacao h1::before {
  content: "";
  display: block;
  width: 260px;
  height: 41px;
  background: no-repeat url("/public/linha.svg");
  position: absolute;
  top: 47px;
  left: 180px;
  z-index: 1;
}

.informacao p {
  color: #545252;
  font-size: 17px;
  max-width: 53ch;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin-bottom: 52px;
}


.saiba-mais {
  color: #f6f6f6;
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid #000;
  padding: 11px 32px;
  background: #09A599;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  display: inline-block;
}
@media (max-width: 800px) {
  .informacao-bg{
    padding: 0px 50px 50px 50px;
  }
  .informacao h1::before {
    content: none; 
    display: none; 
  }
  .informacao h1 {
    font-size: 35px; 
  }
  
  .informacao-bg::before {
    content: none; 
    display: none;
  }
}

@media (max-width: 500px) {
  .informacao h1::before {
    content: none; 
    display: none; 
  }
  .informacao-bg::before {
    content: none; 
    display: none;
  }
  .informacao h1 {
    font-size: 27px; 
  }
  .informacao p {
    font-size: 14px; 
    margin-bottom: 25px;
  }
}
/* corpo02 */

.guia-bg {
  padding: 80px 100px 94px 100px;
  background: #edfdf2;
}

.guia-bg h1 {
  font-size: 45px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #1a1c19;
  margin-bottom: 46px;
}

.guia {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  row-gap: 4rem;
  column-gap: 1rem;
  justify-items: center;
}

.guia-tudo {
  padding: 16px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.25) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  border-radius: 24px;
}
.guia-img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 63px;
  width: 63px;
  background: no-repeat url("../../public/fundo.svg");
  margin-bottom: 16px;
}
.guia-img img {
  margin: 16px;
}
.guia-bg h3 {
  color: #1a1c19;
  font-size: 19px;
  margin-bottom: 12px;
}

.guia p {
  color: #454843;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  max-width: 50ch;
}

@media (max-width: 800px) {
  .guia {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    
  }
  .guia-bg h1 {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .guia-bg {
    padding: 30px 50px 94px 50px;
    background: #edfdf2;
  }
}

@media (max-width: 500px) {
  .guia {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  
}
/* SOBRE */

.sobre-bg {
  display: flex;
  padding: 43px 100px 43px 100px;
  justify-content: space-between;
}

.sobre h1 {
  color: #1a1c19;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 45px;
  margin-top: 132px;
  margin-bottom: 32px;
}

.sobre h1 span {
  color: #09A599;
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
}

.sobre p {
  color: #545252;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 17px;
  margin-bottom: 85px;
  max-width: 52ch;
}

.saiba-mais-bg {
  display: flex;
  justify-content: center;
}

@media (max-width: 800px) {
  .sobre-bg{
    padding: 43px 50px 43px 50px;
    justify-content: center;
  }
  .sobre-img img {
    display: none;
  }
  .sobre h1 {
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  }
  .sobre p {
    margin-bottom: 25px;
  }
}

@media (max-width:500px){
  .sobre h1 {
    font-size: 30px;
    margin-bottom: 20px;
    }
  .sobre p {
    font-size: 14px;
    margin-bottom: 25px;
  }
}
/* PERGUNTAS FREQUENTES */
.container-perguntas {
  max-width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin: 0 auto;
}

.container-perguntas h1 {
  text-align: center;
  margin-bottom: 40px;
}

.pergunta {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  background: #FFFFFF;
  padding: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid #D1D3D5;
  transition: background-color 0.3s;
}

.pergunta div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pergunta img {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.resposta {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #454843;
  padding-top: 20px;
}

.container-perguntas {
  max-width: 90%;
  padding: 10px;
  box-sizing: border-box;
  margin: 0 auto;
}

.container-perguntas h1 {
  text-align: center;
  margin-bottom: 40px;
}

.pergunta {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  background: #FFFFFF;
  padding: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid #D1D3D5;
  transition: background-color 0.3s;
}

.pergunta div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.pergunta img {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.resposta {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #454843;
}

.pergunta-expandida,
.resposta {
  background-color: #FFFFFF; 
  border-radius: 8px;
  padding-top: 15px;
}

.resposta a{
  margin-top: 20px;
}




@media (max-width: 768px) {
  .pergunta {
    padding: 15px;
  }
}

@media (max-width: 576px) {
  .container-perguntas {
    padding: 10px;
  }
}



/* RODAPÉ */
.rodape-bg {
  background: #edfdf2;
  padding: 20px 100px 20px 100px;
}
.rodape-introducao {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.rodape-link {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.rodape-link li a {
  color: #454843;
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
}

.rodape-link li {
  margin-right: 80px;
}

.rodape-link .blog {
  margin-right: 0px;
}

.rodape-baixo {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.rodape-baixo a {
  color: #000000;
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
}

.subcadastro{
  margin-left: 35px;
}

.select{
  margin-right: 32px;
}

.entrar{
  margin-right: 5px;
}


