.trabalho-container {
  padding: 80px 41px 94px 141px;
  background: #edf3fb;
  min-height: 100vh;
}

.header-nome h2{
font-size: 25px;
position: relative;
}
.header-nome h2::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -7px;
  width: 4px;
  height: 25px;
  background-color: #3179d7;
}

.header-link-trabalho{
  font-size: 25px;
  color: #000;
  font-size: 32px;
  position: relative;
}
.header-link-trabalho::after {
  content: "";
  display: block;
  height: 5px;
  width: 0px;
  background: #3179d7;
  margin-top: -2px;
  transition: 0.8s;
  position: absolute;
}
.header-link-trabalho:hover:after {
  width: 100%;
}

.header-link-trabalho:hover {
  color: #3179d7;
}

.input-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}
.input-wrapper input {
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 1rem 1.6rem;
  border-radius: 2rem;
  background-color: #454843;
  border: 0;
  color: white;
  font-size: 1.0rem;
}

.trabalho-bg {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  row-gap: 2rem;
  
}

.trabalho-bg .card {
  transition: opacity 0.5s ease, transform 0.3s ease;
}

.trabalho-bg:has(.card:hover) .card:not(:hover) {
  opacity: 0.6;
  transform: scale(0.98);
}

.header-card {
  display: flex;
  align-items: baseline;
}

.card {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.25) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  border-radius: 24px;
  transition: transform 0.5s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 420px;
}



.card:hover {
  transform: scale(1.07);
}
.card h3 {
  color: #1a1c19;
  font-size: 19px;
  margin-top: 15px;
  margin-left: 10px;
  text-align: center;
}

.card p {
  color: #454843;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  max-width: 30ch;
  margin: 5px;
  padding-left: 5px;
}

.card hr {
  background: #1a1c19;
  width: 100%;
  height: 1px;
  margin-top: 15px;
}

.card img {
  border-radius: 7px;
}

.card .saiba-mais {
  margin: 10px;
}
.card h2 {
  margin: 10px;
}



#foto-casa {
  border-radius: 7px;
  width: 425px;
  height: 320px;
}

.detalhes-imovel{
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
}

.detalhes-valores{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.select-wrapper {
  width: 150px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.select-wrapper select {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
