.bg-Dashboard {
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #fff;
  overflow-x: hidden;
  z-index: 1;
}

.bg-Dashboard::-webkit-scrollbar {
  width: 8px; 
  background-color: #f0f0f0; 
}

.bg-Dashboard::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #61B0F8, #1684A7); 
  border-radius: 50px;
}

.imagem-svg img {
  margin: 10px 33px 10px 33px;
}


.menu-item {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.menu-item:active {
  background: var(--C5, rgba(9, 165, 153, 0.5)) url('/public/Dashboard/linha.svg') no-repeat center left;
}

.menu-item.active {
  background: var(--C5, rgba(9, 165, 153, 0.5)) url('/public/Dashboard/linha.svg') no-repeat center left;
}
